/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h5 {
  color:  #eee;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* ~~~~~~~~~~ */
.avatar {
  position: absolute;
  top: -200px;
  left:  0;
  right: 0;
  margin: 0 auto;

  border: 8px solid white;
}

.avatar-container {
  position: relative;
  padding-bottom: 50px;
}

.background {
  max-width: 105%;
}

.name {
  margin-bottom: 0;
}

.tagline {
  margin-top: 5px;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
}

.github-circle {
  background-image: url("../static/octocat.png");
  background-size: 100%;
}

.card-fab {
    position: relative;
    z-index: 1;
}

.card.small .card-image + .card-content,
.card.medium .card-image + .card-content,
.card.large .card-image + .card-content,
.card.small .card-image + .card-fab + .card-content,
.card.medium .card-image + .card-fab +.card-content,
.card.large .card-image + .card-fab + .card-content {
  max-height: 40%;
}

.project-image {
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid lightgray;
}

.linkedin-container {
  position: relative;
  padding-bottom: 50px;
}

.linkedin-link {
  position: absolute;
  top: -85px;
  left:  0;
  right: 0;
  margin: 0 auto;

  border: 8px solid white;
  border-radius: 3px;
}
