---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Landing Page">
	<main class="flex justify-center">
		<div class="rounded-md bg-purple-200 p-4 flex flex-col">
			<h1 class="text-center text-4xl font-serif">JTannas Github.io</h1>
			<div class="bg-violet-900 text-center rounded-md">
				<p class="text-white p-2">
					Work in progress to become personal profile. Probably also a
					link repository, design playground, etc...<br /> Taking it as
					a project to learn astro for when I need to build something that's
					more static content than webapp.
				</p>
			</div>
		</div>
	</main>
</Layout>
